
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0;
    padding-left: 0;
}



/*   Banner*/

#cameraReel {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) 0% 0% / cover, url('../img/dick.jpg') center center fixed;
    padding: 80px 0px;
    width: 100%;
}

/*   Banner*/





/*   Project   */

.blue {
    
    background-color: blue;
    height: 300px;
    color: white;
}

.yellow {
    background-color: darkslategray;
    height: 300px;
    color: white;
}

.green {
    background-color: green;
    height: 300px;
    color: white;
}

.poop img {
    
    width: 100%;
    height: 300px;
}





/*   MEET THE TEAM  */


.polaroid {
  position: relative;
  width: 220px;
    margin-bottom: 10px;
}

.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}



.porn img {
  border: 10px solid #fff;
  border-bottom: 55px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.porn p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

/*   MEET THE TEAM  */

.jumbotron img{
    width: 100%;

    }

.jumbotron {
    padding:0 0 !important;
}

/*   INTRO   */


.about {
width: 100%;
  padding: 100px 0;
  color: lightgray;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro {
width: 100%;
  padding: 100px 0;
  color: lightgray;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.serve {
    width: 100%;
  padding: 100px 0;
  color: white;
  background: url(../img/dick.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.team {
width: 100%;
  padding: 100px 0;
  color: lightgray;
  background: url(../img/squads.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*    fonts   */

h1 {
    
        font-family: 'Montserrat', sans-serif;

        font-size: 50px;
    
}

p {
        font-family: 'Montserrat', sans-serif;
    
}

.glyphicon {
    font-size: 20px;
    
}

/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
	width:auto;
}


#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}




@media (min-width: 320px){
    header {
        height: 520px;
        margin-top: 160px;
    }
}





@media (min-width: 400px) {
    header {
        height: 736px;
        margin-top: 110px;
        margin-bottom: -105px;
    }
}





@media (min-width: 768px){
    
    header {
        height: 580px;
        margin-top: 55px;
        margin-bottom: 0;
        
    }
}

@media (min-width: 992px) {
    header {
        height: 690px;
        margin-top: -55px;
        margin-bottom: 0;
        
    }
}
